<div class="posts form">
    <form method="post" action="#" tal:omit-tag="">
        <span cake:helper="form:create('Post')"/>
        <fieldset>
            <legend>Edit Post</legend>
            <input type="hidden" name="data[Post][id]" value="1" id="PostId" cake:helper="form:input('id')" />
            <div class="input text" cake:helper="form:input('title')"><label for="PostTitle">Title</label><input name="data[Post][title]" type="text" maxlength="50" value="タイトル" id="PostTitle" /></div>
            <div class="input textarea" cake:helper="form:input('body')"><label for="PostBody">Body</label><textarea name="data[Post][body]" cols="30" rows="6" id="PostBody" >これは、記事の本文です。</textarea></div>	
        </fieldset>
        <div class="submit" cake:helper="form:submit('Submit')"><input type="submit" value="Submit" /></div>
        <span cake:helper="form:end()"/>
    </form>
</div>
<div class="actions" tal:define="postId view/data/Post/id">
    <h3>Actions</h3>
    <ul>
        <li><a href="#" tal:attributes="href url:array('action' => 'delete', postId)" onclick="return confirm('Are you sure you want to delete # $postId');">Delete</a></li>
        <li><a href="./" tal:attributes="href url: array('action' => 'index')">List Posts</a></li>
    </ul>
</div>
